<footer id="footerSection">
  <div class="footer-padding"></div>

  <div class="footer d-inline">

  <p class="footer-p">Made by Paulo Barbeiro</p>

  <a class="footer-link" href="https://angel.co/paulo04" target="_blank"><i class="fab fa-angellist footer-icons"></i></a>
  <a class="footer-link" href="https://github.com/PauloB04" target="_blank"><i class="fab fa-github-square footer-icons"></i></a>
  <a class="footer-link" href="mailto:paulo_barbeiro04@hotmail.com"><i class="fas fa-envelope footer-icons"></i></a>
  </div>

</footer>

<!-- Font Awesome Glyphs -->
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>
</html>
